{% extends "base.html" %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">DJANGO TASKS</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum sint nesciunt vero repellat mollitia accusamus eos, fugiat repudiandae quidem similique ea amet doloribus architecto magni distinctio laudantium labore voluptate!
            <div class="text-center">
                <a class="btn btn-primary" href="/signin">Sign In</a>
                <a class="btn btn-primary" href="/signup">Sign Up</a>
            </div>
        </section>
    </main>
{% endblock %}