{% extends "base.html" %}

{% block content %}
    <h2>Task Detail</h2>
    {{ error}}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
    <form method="post" action="{% url 'complete_task' task.id %}">
        {% csrf_token %}    
        <button type="submit">Complete</button>
    </form>
    <form method="post" action="{% url 'delete_task' task.id %}">
        {% csrf_token %}    
        <button type="submit">Delete</button>
    </form>
{% endblock %}